body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: orange;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin: 0;
}

.comment-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.comment {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.comment-details {
    margin-left: 10px;
}

h2 {
    font-size: 18px;
    margin: 0;
    color: #333;
}

p {
    font-size: 16px;
    color: #666;
    margin: 5px 0;
}

.comment-form {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 20px;
}

.comment-form h2 {
    font-size: 20px;
    margin: 0 0 20px;
    color: black;
}

form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: orange;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #ffa500;
}
